[submodule "dependencies/fplutil"]
	path = dependencies/fplutil
	url = http://github.com/google/fplutil.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = http://github.com/google/googletest.git
[submodule "plain/plugins"]
	path = plain/plugins
	url = https://github.com/viticm/plain-plugins
